<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida! Abaixo a resposta:</p>
<p>
  <strong>{{ question }}</strong><br />
  <strong>R:</strong> {{ answer }} <br />
  <strong>Respondida em:</strong> {{ date }} <br />
</p>
